@import '../init';

.day-entry {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: seven;
    margin-bottom: 20px;

    .entry {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 16px 0;
        position: relative;

        .intensity-bar {
            width: 10px;
            margin-right: 16px;
            flex-shrink: 0;
            flex-grow: 0;
        }

        .entry-headline {
            width: 100%;
        }

        .date {
            color: $FINE_GREY_MEDIUM;
            display: block;
            @include plain-s-book;
            text-transform: none;
        }

        .title {
            @include plain-m-bold;
            line-height: 19px;
        }

        .delete-entry {
            display: flex;
            right: 0;
            position: absolute;
            background-color: firebrick;
            width: 0;
            justify-content: center;
            align-items: center;
            height: 100%;
            transition: width 0.5s;

            .icon-wrapper {
                opacity: 0;
            }
        }

        &.show-delete-entry {
            .delete-entry {
                display: flex;
                width: 25%;

                .icon-wrapper {
                    opacity: 1;
                }
            }
        }
    }
}
