@import '../init';

.day-entry {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: seven;
    margin-bottom: 20px;

    .entry {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 16px 0;
        position: relative;
        transition: background-color 1s;

        .intensity-bar {
            width: 10px;
            margin-right: 16px;
            flex-shrink: 0;
            flex-grow: 0;
        }

        .entry-headline {
            width: 100%;
        }

        .entry-headline, 
        .intensity-bar {
            left: 0;
            transition: left 1s;
            position: relative;
        }

        .date {
            color: $FINE_GREY_MEDIUM;
            display: block;
            @include plain-s-book;
            text-transform: none;
        }

        .title {
            @include plain-m-bold;
            line-height: 19px;
        }

        .edit-icons {
            display: flex;
            right: 0;
            position: absolute;
            width: 0;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            transition: width 0.5s;

            .delete-entry, 
            .edit-entry {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon-wrapper {
                opacity: 0;
            }
        }

        &.show-delete-entry {
            background-color: $FINE_WHITE;
            .entry-headline, 
            .intensity-bar {
                left: -$EDGE_GRID;
            }
            .edit-icons {
                display: flex;
                width: 120px;

                .icon-wrapper {
                    opacity: 1;
                }

                .delete-entry {
                    border-right: solid 1px $FINE_GREY_LIGHT;
                }
            }
        }
    }
}

.dayentries-enter-active {
    transition: all 1s ease;
}
 
.dayentries-leave-active {
    transition: all 0.4s ease;
}

.dayentries-enter-from,
.dayentries-leave-to {
    opacity: 0;
    transform: translateY(-21px);
}

.dayentries-enter-to,
.dayentries-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.dayentries-move {
    transition: all 1s ease;
}




