@import '../init';

.fine-header {
    margin: 30px $EDGE_GRID;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .shadow-button {
        border-radius: 50%;
        background-color: white;
        @include boxshadow;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .time {
        text-align: center;
    }
}