@import '../init';

.lastentry {
    box-shadow: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 1em;

    header {
        font-size: 13pt;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    
    #label {
        margin: 0;
        text-align: left;
    }
    
    input {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        font-family: Arial, sans-serif;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin-right: 15px;
        width: 100%;
        height: 30px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        background-size: 60% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient($SYMPTOMS_PRIMARY, $SYMPTOMS_PRIMARY);
    }

    /* Input Thumb */
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 0;
        cursor: ew-resize;
        background: $FINE_GREY_DARK;
        transition: background .3s ease-in-out;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 0;
        cursor: ew-resize;
        background: $FINE_GREY_DARK;
        transition: background .3s ease-in-out;
    }

    input[type=range]::-ms-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: ew-resize;
        background: $FINE_GREY_DARK;
        transition: background .3s ease-in-out;
    }
    input[type=range]::-webkit-slider-thumb:hover {
        background: $FINE_GREY_DARK;
    }
    input[type=range]::-moz-range-thumb:hover {
        background: $FINE_GREY_DARK;
    }
    input[type=range]::-ms-thumb:hover {
        background: $FINE_GREY_DARK;
    }
    /* Input Track */
    input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type=range]::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    input[type=range]::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    $SLIDER_COLORS:
    "symptoms" $SYMPTOMS_PRIMARY,
    "emotions" $EMOTIONS_PRIMARY,
    "sleep" $SLEEP_PRIMARY,
    "nutrition" $NUTRITION_PRIMARY,
    "countermeasures" $COUNTERMEASURES_PRIMARY,
    "activity" $ACTIVITY_PRIMARY;
    
    @each $CLASSNAME, $COLOR in $SLIDER_COLORS {
        .#{$CLASSNAME}-range-bgcolor {
            input[type=range] {
                background-image: linear-gradient(#{$COLOR}, #{$COLOR});
            }
            input[type=range]::-webkit-slider-thumb {
                background: #{$COLOR};
            }
            input[type=range]::-moz-range-thumb {
                background: #{$COLOR};
            }
            input[type=range]::-ms-thumb {
                background: #{$COLOR};
            }
            input[type=range]::-webkit-slider-thumb:hover {
                background: #{$COLOR};
            }
            input[type=range]::-moz-range-thumb:hover {
                background: #{$COLOR};
            }
            input[type=range]::-ms-thumb:hover {
                background: #{$COLOR};
            }
        }
    }
}
  
  
