@import '../init';

.component {
    @include boxshadow();
    padding: 1em;
    background-color: white;
    width: 90%;
    margin: 1em;
    box-sizing: inherit;

    .module-header {
        display: flex;
        flex-direction: row;
        width: 90%;

        h2 {
            margin: 0.5em;
        }
    }
}