@import '../init';

.component {
    @include boxshadow();
    padding: 1em;
    background-color: white;
    width: calc(100% - (2 * #{$EDGE_GRID}));
    margin: $EDGE_GRID auto;
    box-sizing: inherit;

    .module-header {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: flex-start;
        margin-bottom: .5em;
        align-items: center;

        h2 {
            margin-left: 0.5em;
            font-weight: 500;
            font-size: 22px;
        }
    }
}