@import '../init';

.select-entry-wrapper {
    border: solid 1px;
    border-radius: $BASE_BORDER_RADIUS;
    overflow: hidden;
    
    #select-entry-title {
        width: 100%;
        padding: 15px 10px;
        border-bottom: solid 2px;
    }

    .select-entry-details {
        padding: 10px;
    }

    .btn {
        width: 100%;
    }

    .result-header {
        border-bottom: solid 1px;
        padding-bottom: 5px;
        margin-top: 20px;
    }

    .result-list {
        li {
            padding: 20px 0;
            border-bottom: solid 1px;

            &:last-child {
                border-bottom: 0 none;
            }
        }
    }
}