@import '../init';

.settings {

    header {
        margin: 30px $EDGE_GRID;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right-button {
            width: 40px;
        }

        .center {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .shadow-button {
            border-radius: 50%;
            background-color: white;
            @include boxshadow;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .personal-data, .modules {
        @include boxshadow();
        padding: 15px 15px 0 15px;
        background-color: $FINE_WHITE;
        width: 90%;
        margin: 0 auto 2em;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            color: $FINE_GREY_MEDIUM;
            text-align: left;
            margin-bottom: .5em;
        }

        .line {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 1em 0 1em 0;

            .label {
                color: $FINE_GREY_MEDIUM;
                margin-right: 1em;
                width: 50%;
                text-align: left;
            }

            .entry {
                display: flex;
                text-align: left;
                align-items: flex-start;
                color: $FINE_GREY_DARK;
                border: none;
                cursor: text;
                width: 100%;
            }

            .icon {
                margin-right: 2em;
            }

            #symptoms {
                color: $SYMPTOMS_PRIMARY;
            }

            #sleep {
                color: $SLEEP_PRIMARY;
            }

            #nutrition {
                color: $NUTRITION_PRIMARY;
            }

            #activity {
                color: $ACTIVITY_PRIMARY;
            }

            #emotions {
                color: $EMOTIONS_PRIMARY;
            }

            #countermeasures {
                color: $COUNTERMEASURES_PRIMARY;
            }

            //input[type=checkbox] mit SVG

            .select-modules {
                position: relative;

                .checkbox__input {
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    opacity: 0;
                    right: 10%;
                    cursor: pointer;
                    z-index: 1;
                }
            }
    
            .select-modules .checkbox__input:focus:not(:focus-visible) + svg {
                outline: none;
            }

            .select-modules {
                width: 1.5em;
                height: 1.5em;
            }

            svg {
                width: 100%;
                height: 100%;
            }

            .select-modules, svg {
                position: absolute;
                right: 10%;
            }

            .checkbox__input + svg {
                .checkbox__bg_1 {
                    fill: $SYMPTOMS_SOFT;
                }

                .checkbox__bg_2 {
                    fill: $SLEEP_SOFT;
                }

                .checkbox__bg_3 {
                    fill: $NUTRITION_SOFT;
                }

                .checkbox__bg_4 {
                    fill: $ACTIVITY_SOFT;
                }

                .checkbox__bg_5 {
                    fill: $EMOTIONS_SOFT;
                }

                .checkbox__bg_6 {
                    fill: $COUNTERMEASURES_SOFT;
                }

                .checkbox__unchecked1 {
                    display: initial;
                    stroke: $SYMPTOMS_PRIMARY;
                }

                .checkbox__unchecked2 {
                    display: initial;
                    stroke: $SLEEP_PRIMARY;
                }

                .checkbox__unchecked3 {
                    display: initial;
                    stroke: $NUTRITION_PRIMARY;
                }

                .checkbox__unchecked4 {
                    display: initial;
                    stroke: $ACTIVITY_PRIMARY;
                }

                .checkbox__unchecked5 {
                    display: initial;
                    stroke: $EMOTIONS_PRIMARY;
                }

                .checkbox__unchecked6 {
                    display: initial;
                    stroke: $COUNTERMEASURES_PRIMARY;
                }

                .checkbox__checkmark_1,
                .checkbox__checkmark_2,
                .checkbox__checkmark_3,
                .checkbox__checkmark_4,
                .checkbox__checkmark_5,
                .checkbox__checkmark_6 {
                    display: none;
                }

                .checkbox__checkmark_outline_1 {
                    stroke: $SYMPTOMS_PRIMARY;
                }

                .checkbox__checkmark_outline_2 {
                    stroke: $SLEEP_PRIMARY;
                }

                .checkbox__checkmark_outline_3 {
                    stroke: $NUTRITION_PRIMARY;
                }

                .checkbox__checkmark_outline_4 {
                    stroke: $ACTIVITY_PRIMARY;
                }

                .checkbox__checkmark_outline_5 {
                    stroke: $EMOTIONS_PRIMARY;
                }

                .checkbox__checkmark_outline_6 {
                    stroke: $COUNTERMEASURES_PRIMARY;
                }
            }

            .checkbox__input:checked + svg {
                .checkbox__bg_1 {
                    fill: $SYMPTOMS_PRIMARY;
                }

                .checkbox__bg_2 {
                    fill: $SLEEP_PRIMARY;
                }

                .checkbox__bg_3 {
                    fill: $NUTRITION_PRIMARY;
                }

                .checkbox__bg_4 {
                    fill: $ACTIVITY_PRIMARY;
                }

                .checkbox__bg_5 {
                    fill: $EMOTIONS_PRIMARY;
                }

                .checkbox__bg_6 {
                    fill: $COUNTERMEASURES_PRIMARY;
                }

                .checkbox__unchecked1,
                .checkbox__unchecked2,
                .checkbox__unchecked3,
                .checkbox__unchecked4,
                .checkbox__unchecked5,
                .checkbox__unchecked6 {
                    display: none;
                }

                .checkbox__checkmark_1 {
                    display: initial;
                    stroke: $SYMPTOMS_SOFT; 
                }

                .checkbox__checkmark_2 {
                    display: initial;
                    stroke: $SLEEP_SOFT; 
                }

                .checkbox__checkmark_3 {
                    display: initial;
                    stroke: $NUTRITION_SOFT; 
                }

                .checkbox__checkmark_4 {
                    display: initial;
                    stroke: $ACTIVITY_SOFT; 
                }

                .checkbox__checkmark_5 {
                    display: initial;
                    stroke: $EMOTIONS_SOFT; 
                }

                .checkbox__checkmark_6 {
                    display: initial;
                    stroke: $COUNTERMEASURES_SOFT; 
                }

                .checkbox__checkmark_outline_1 {
                    stroke: $SYMPTOMS_PRIMARY;
                }

                .checkbox__checkmark_outline_2 {
                    stroke: $SLEEP_PRIMARY;
                }

                .checkbox__checkmark_outline_3 {
                    stroke: $NUTRITION_PRIMARY;
                }

                .checkbox__checkmark_outline_4 {
                    stroke: $ACTIVITY_PRIMARY;
                }

                .checkbox__checkmark_outline_5 {
                    stroke: $EMOTIONS_PRIMARY;
                }

                .checkbox__checkmark_outline_6 {
                    stroke: $COUNTERMEASURES_PRIMARY;
                }
            }
        }

        hr {
            border: .5px solid $FINE_GREY_MEDIUM;
        }
    }

    button[type=submit] {
        margin: .5rem auto;
        width: 40%;
    }
}