@import '../init';

.swipe-slider {
    padding: 0 $EDGE_GRID;
    ul {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;

        li {
            margin-right: 30px;
            @include plain-m-bold;
            padding-top: 1px;
            padding-bottom: 1px;

            &.active-item {
                color: $FINE_PRIMARY;
            }
        }
    }
}