@import '../init';

.swipe-slider {
    padding: 10px $EDGE_GRID;
    ul {
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        li {
            margin-right: 30px;

            &.active-item {
                color: $FINE_PRIMARY;
            }
        }
    }
}