@import '../init';

#symptoms-figure-container {
    border-radius: $BASE_BORDER_RADIUS;
    border: solid 1px $SYMPTOMS_PRIMARY;
    overflow: hidden;
    height: 60vh;
    position: relative;

    .vue-pan-zoom-scene {
        display: flex;
        justify-content: center;

        .icon-wrapper {
            color: $SYMPTOMS_PRIMARY;
            width: 100% !important;
            height: 100% !important;
            display: block;
        }
    }

    #figure {
        position: relative;
    }

    .intensity-control {
        position: absolute;
        border-radius: 30px;
        background-color: $SYMPTOMS_PRIMARY;
        color: $FINE_WHITE;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 10px;
        top: 10px;

        span {
            padding: 10px;

            &.icon-wrapper {
                width: auto !important;
                height: auto !important;
            }
        }
    }

    .color-5 {
        color: $SYMPTOMS_PRIMARY;
    }
    .color-1 {
        color: $SYMPTOMS_SOFT;
        border: solid 1px $SYMPTOMS_PRIMARY;
    }
}

