@import '../init';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $TEXT_BASE_COLOR;
  background-color: $BACKGROUND_COLOR;
}

a {
  color: $TEXT_BASE_COLOR;
  text-decoration: none;
}

// reset input style
button,
input,
optgroup,
select,
textarea,
input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input:focus,
select:focus,
input:focus-visible {
  @include resetButton;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  margin-bottom: 150px;
}

//TODO: remove if not necessary anymore
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: $FINE_PRIMARY;
}

.fine-header {
  margin: 30px $EDGE_GRID;
  text-align: center;
  position: relative;

  .shadow-button {
    position: absolute;
    top: 4px;
    border-radius: 50%;
    background-color: white;
    @include boxshadow;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.left-button {
      left: 0;
    }

    &.right-button {
      right: 0;
    }
  }
}