@import '../init';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $TEXT_BASE_COLOR;
  background-color: $BACKGROUND_COLOR;

  &.noScroll {
    position: fixed;
    overflow: hidden;
  }
}

a {
  color: $TEXT_BASE_COLOR;
  text-decoration: none;
}

// reset input style
button,
input,
optgroup,
select,
textarea {
  @include resetButton;
  border: 0 none !important;
  background: transparent;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

#app {
  width: 100vw;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.fine-header {
  margin: 30px $EDGE_GRID;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.update {
    padding-top: 30px;
  }

  .headline-text {
    width: 100%;
    padding: 0 20px;
  }

  .shadow-button {
    flex-shrink: 0;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 7px 15px 0px rgba(2,45,38,0.1);
    -moz-box-shadow: 0px 7px 15px 0px rgba(2,45,38,0.1);
    box-shadow: 0px 7px 15px 0px rgba(2,45,38,0.1);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.module-entry-layer {
  height: 100vh;
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $BACKGROUND_COLOR;

  .module-entry-content {
      height: calc(100vh - 161px);
      overflow-y: scroll;
      padding: 0 $EDGE_GRID 30px;
  }

  .microphone-button {
      margin-right: 20px;
  }
}
