@import '../init';

* {
    text-align: center;
    box-sizing: border-box;
}
  
body {
    color: $TEXT_BASE_COLOR;
    background-color: $BACKGROUND_COLOR;
}

a {
  color: $TEXT_BASE_COLOR;
  text-decoration: none;
}

//TODO: remove if not necessary anymore
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: $FINE_PRIMARY;
}