@import '../init';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  background-color: $BACKGROUND_COLOR;
}

.calendar-navigation {
  position: fixed;
  background-color: $BACKGROUND_COLOR;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 100;
}

.calendar-month {
  margin-top: 200px;
  position: relative;
  background-color: var(--grey-200);
  border: solid 1px var(--grey-300);
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week>* {
  text-align: right;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding: 0 $EDGE_GRID;
}