@import '../init';

.view {
    background-color: inherit;
    box-sizing: inherit;

    header {
        margin: 30px $EDGE_GRID;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-button {
            width: 40px;
        }

        .center {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .shadow-button {
            border-radius: 50%;
            background-color: white;
            @include boxshadow;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
