@import '../init';

form {
    @include boxshadow();
    padding: 50px;
    background-color: $FINE_WHITE;
    width: 90%;
    margin: 0 auto;

    .fine-logo {
        max-width: 200px;
    }

    input {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        text-align: left;
    }

}
