@import '../init';

form {
    @include boxshadow();
    padding: 50px;
    background-color: $FINE_WHITE;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    .fine-logo {
        max-width: 200px;
        display: flex;
        margin: 0 auto 2rem auto;
    }

    h1 {
        margin: 2rem auto 1rem;
    }

    input {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        text-align: left;
        border: 1px solid $FINE_GREY_DARK;
        border-radius: $BASE_BORDER_RADIUS;
        
    }

    input:focus {
        border-color: $FINE_PRIMARY;
    }

    button {
        margin: 2rem 0 0 0;
    }

}
