@import '../init';

.view{
    position: absolute;
    z-index: 101;
    width: 100vw;
    min-height: 100vh;
    background-color: #F8F9FB;
    padding: 0 16px 0 16px;
    flex-direction: column;
    display: flex;
    align-content: space-between;


    .logo{
        margin: auto;
        padding-left: 30px;
        padding-top: 64px;
        max-width: 300px;
        width: 250px;
        
    }

    .login{
        width: 100%;

        .headline{
            color: $FINE_PRIMARY;
            font-size: 14px;
        }

        .text{
            display: flex;
            flex-direction: row;
            color: $FINE_GREY_MEDIUM;
            font-size: 11px;
            margin-bottom: 8px;
        }

        #email{
            padding-left: 51px;
        }

        #password{
            padding-left: 31px;
        }

        .line {
            width: 100%;
            background-color: $FINE_PRIMARY;
        }


        h1{
            font-size: 11px;
        }

        p{
            float: left;
            font-size: 11px;
            padding-top: 18px;
        }

        button{
            margin-top: 24px; 
            margin-bottom: 24px;
            border-radius: 40px;
            width: 100%;
        }

        input {
            border: none;
            appearance: none;
            -webkit-appearance: none;
            -ms-appearence: none;
            -moz-appearance: none;
            border-radius: 0px;
            background-color: $BACKGROUND_COLOR;
            outline: none;
            width: 100%;
            height: 48px;
            margin-top: 8px;
            margin-left: 24px;
            font-size: 16px;
            color: $FINE_GREY_DARK;
        }
    }

    hr {
        height: 1px; 
        border: 0; 
        background-color: #979797;
    }

    .hr-primary {
        background-color: $FINE_PRIMARY;
    }

    #login{
        color: $FINE_GREY_DARK;
        font-size: 11px;
        letter-spacing: 2%;
        text-align: center;
        margin: 0;
        padding:0;
        text-decoration: underline;
        padding-bottom: 24px;
    }

    
}
