@import '../init';

.module-slider {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        padding: 18px;
        // box-shadow: inset 0px -11px 8px -10px #CCC; 
        background: linear-gradient(180deg, #F8F9FB 54.16%, #DFE0E2 124.11%);
        width: 100%;
        height: 100%;

        &:first-child {
            padding-left: $EDGE_GRID;
        }

        &:last-child {
            padding-right: $EDGE_GRID;
        }

        .icon-wrapper {
            margin: 0 auto;
        }

        &.active {
            background: $FINE_BACKGROUND;
            box-shadow: 
                9px 0px 6px -7px #CCC, 
                -9px 0px 6px -7px #CCC;
        }
    }
    .not-active {
        color: $FINE_GREY_MEDIUM !important;
    }
}