@import '../init';

.settings {
    margin-bottom: 150px;
    
    header {
        margin: 30px $EDGE_GRID;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right-button {
            width: 40px;
        }

        .center {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .shadow-button {
            border-radius: 50%;
            background-color: white;
            @include boxshadow;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .personal-data, .modules-selected {
        @include boxshadow();
        padding: 15px 15px 0 15px;
        background-color: $FINE_WHITE;
        width: 90%;
        margin: 0 auto 2em;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            color: $FINE_GREY_MEDIUM;
            text-align: left;
            margin-bottom: .5em;
        }

        .select {
            margin-bottom: .5em;;
        }

        .line {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 1em 0 0 0;
            padding-bottom: 1em;
            border-bottom: .5px solid $FINE_GREY_MEDIUM;

            .label {
                color: $FINE_GREY_MEDIUM;
                margin-right: 1em;
                width: 50%;
                text-align: left;
            }

            .entry {
                display: flex;
                text-align: left;
                align-items: flex-start;
                color: $FINE_GREY_DARK;
                border: none;
                cursor: text;
                width: 100%;
            }

            .icon {
                margin-right: 2em;
            }

            .select-modules {
                position: absolute;
                right: 10%;

                 //input[type=checkbox]

            .checkbox-border {
                position: relative;
                width: 2.2em;
                height: 2.2em;
                right: 10%;
                border-radius: 50%;
                border: 1.5px solid;

                .checkbox-background {
                    position: relative;
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    cursor: pointer;

                    .checkbox-input, input[type=checkbox] {
                        -webkit-appearance: none;
                        position: relative;
                        margin: -3%;
                        width: 2em;
                        height: 2em;
                        border-radius: 50%;
                        background-color: transparent !important;
                        cursor: pointer;
                        z-index: 1;
                    }
    
                    .checkbox-input:checked, input[type=checkbox]:checked {
                        height: 1em;
                        width: 1em;
                        border-radius: 50%;
                        margin: 22.5% auto;
                        padding: 0;
                        position: relative;
                        background-color: currentColor !important;
                        z-index: 2;
                    }
                }
            }
            }
         }

        hr {
            border: .5px solid $FINE_GREY_MEDIUM;
        }
    }

    button {
        margin: .5rem auto;
        min-width: 90%;
    }
}