/* basic colors */
$FINE_PRIMARY: #1AE2C5;
$FINE_GREY_DARK: #434343;
$FINE_GREY_LIGHT: #979797;
$FINE_WHITE: #FFFFFF;

/* symptoms */
$SYMPTOMS_PRIMARY: #E28BB2;
$SYMPTOMS_9: #E597BA;
$SYMPTOMS_8: #E8A3C2;
$SYMPTOMS_7: #ECAECA;
$SYMPTOMS_6: #EFBAD2;
$SYMPTOMS_5: #F2C6DA;
$SYMPTOMS_4: #F5D2E2;
$SYMPTOMS_3: #F9DDEA;
$SYMPTOMS_2: #FCE9F2;
$SYMPTOMS_SOFT: #FFF5FA;

/* emotions */
$EMOTIONS_PRIMARY: #F5B84A;
$EMOTIONS_9: #F6BF5C;
$EMOTIONS_8: #F7C66E;
$EMOTIONS_7: #F8CE81;
$EMOTIONS_6: #F9D593;
$EMOTIONS_5: #FBDCA5;
$EMOTIONS_4: #FCE3B7;
$EMOTIONS_3: #FDEBCA;
$EMOTIONS_2: #FEF2DC;
$EMOTIONS_SOFT: #FFF9EE;

/* nutritions */
$NUTRITION_PRIMARY: #62C797;
$NUTRITION_SOFT: #F0FAF5;

/* movement */
$MOVEMENT_PRIMARY: #4262DE;
$MOVEMENT_SOFT: #EEF2FF;
$MOVEMENT_HOVER: #1130A7;

/* sleep */
$SLEEP_PRIMARY: #706BE5;
$SLEEP_SOFT: #EEEDFF;

/* activity */
$MEASURE_PRIMARY: #4EC0C1;
$MEASURE_SOFT: #EDF9F9;

$BACKGROUND_COLOR: #EFF0F2;