/* basic colors */
$FINE_PRIMARY: #1AE2C5;
$FINE_GREY_DARK: #434343;
$FINE_GREY_MEDIUM: #979797;
$FINE_GREY_LIGHT: #DEDEDE;
$FINE_WHITE: #FFFFFF;

$FINE_BASE: $FINE_GREY_DARK;

/* symptoms */
$SYMPTOMS_PRIMARY: #E28BB2;
$SYMPTOMS_9: #E597BA;
$SYMPTOMS_8: #E8A3C2;
$SYMPTOMS_7: #ECAECA;
$SYMPTOMS_6: #EFBAD2;
$SYMPTOMS_5: #F2C6DA;
$SYMPTOMS_4: #F5D2E2;
$SYMPTOMS_3: #F9DDEA;
$SYMPTOMS_2: #FCE9F2;
$SYMPTOMS_SOFT: #FFF5FA;

/* emotions */
$EMOTIONS_PRIMARY: #F5B84A;
$EMOTIONS_9: #F6BF5C;
$EMOTIONS_8: #F7C66E;
$EMOTIONS_7: #F8CE81;
$EMOTIONS_6: #F9D593;
$EMOTIONS_5: #FBDCA5;
$EMOTIONS_4: #FCE3B7;
$EMOTIONS_3: #FDEBCA;
$EMOTIONS_2: #FEF2DC;
$EMOTIONS_SOFT: #FFF9EE;

/* nutritions */
$NUTRITION_PRIMARY: #62C797;
$NUTRITION_SOFT: #F0FAF5;

/* movement */
$MOVEMENT_PRIMARY: #4262DE;
$MOVEMENT_SOFT: #EEF2FF;
$MOVEMENT_HOVER: #1130A7;

/* sleep */
$SLEEP_PRIMARY: #706BE5;
$SLEEP_SOFT: #EEEDFF;

/* activity */
$MOVEMENT_PRIMARY: #4EC0C1;
$MOVEMENT_SOFT: #EDF9F9;

/* countermeasures */
$COUNTERMEASURES_PRIMARY: #4EC0C1;
$COUNTERMEASURES_SOFT: #F4FFFF;

$BACKGROUND_COLOR: #EFF0F2;
$TEXT_BASE_COLOR: $FINE_GREY_DARK;

.fine-grey-dark {
    color: $FINE_GREY_DARK;
}
.fine-grey-medium {
    color: $FINE_GREY_MEDIUM;
}

.fine-grey-light {
    color: $FINE_GREY_LIGHT;
}

.fine-white {
    color: $FINE_WHITE;
}

$MODULE_COLORS:
    "fine" $FINE_PRIMARY $FINE_PRIMARY,
    "base" $FINE_GREY_DARK $FINE_GREY_LIGHT,
    "symptoms" $SYMPTOMS_PRIMARY $SYMPTOMS_SOFT,
    "nutrition" $NUTRITION_PRIMARY $NUTRITION_SOFT,
    "movement" $MOVEMENT_PRIMARY $MOVEMENT_SOFT,
    "emotions" $EMOTIONS_PRIMARY $EMOTIONS_SOFT,
    "countermeasures" $COUNTERMEASURES_PRIMARY $COUNTERMEASURES_SOFT,
    "sleep" $SLEEP_PRIMARY $SLEEP_SOFT;

@each $MODULE, $PRIMARY, $SOFT in $MODULE_COLORS {
  .#{$MODULE}-primary {
    color: #{$PRIMARY};
  }

  .#{$MODULE}-soft {
    color: #{$SOFT};
  }

  .#{$MODULE}-primary-bgcolor {
    background-color: #{$PRIMARY};
  }

  .#{$MODULE}-soft-bgcolor {
    background-color: #{$SOFT};
  }

  .#{$MODULE}-primary-border {
    border-color: #{$PRIMARY};
  }

  .#{$MODULE}-soft-border {
    border-color: #{$SOFT};
  }
}

