@mixin boxshadow {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(2,45,38,0.1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(2,45,38,0.1);
    box-shadow: 0px 7px 10px 0px rgba(2,45,38,0.1);
}

@mixin boxshadow-top {
    -webkit-box-shadow: 0px -7px 10px rgba(2,45,38,0.1);
    -moz-box-shadow: 0px -7px 10px rgba(2,45,38,0.1);
    box-shadow: 0px -7px 10px rgba(2, 45, 38, 0.06);
}

@mixin boxshadow-bottom {
    -webkit-box-shadow: 0px 7px 10px rgba(2,45,38,0.1);
    -moz-box-shadow: 0px 7px 10px rgba(2,45,38,0.1);
    box-shadow: 0px 7px 10px rgba(2, 45, 38, 0.06);
}

@mixin grayWhiteBlur {
    background: linear-gradient(180deg, #F3F3F3 0%, #FFFFFF 100%);
    box-shadow: 0 -1px 25px rgba(2, 45, 38, 0.06);
    border-radius: 0 30px 0 0;
}

@mixin resetButton {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

@mixin fade-transition {
    .fade-enter-active {
        transition: all 1s ease;
    }
     
    .fade-leave-active {
        transition: all 0.4s ease;
    }
    
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
    
    .fade-enter-to,
    .fade-leave-from {
        opacity: 1;
    }
}


@mixin fade-up-down-transition {
    .fade-up-down-enter-active {
        transition: all 1s ease;
    }
    
    .fade-up-down-enter-from,
    .fade-up-down-leave-to {
        height: 24px;
        opacity: 0;
    }
    
    .fade-up-down-enter-to,
    .fade-up-down-leave-from {
        opacity: 1;
        height: 100%;
    }
}

@mixin slide-toggle-transition {
    .slide-toggle-enter-active,
    .slide-toggle-leave-active {
        transition: all 1s ease-in-out;
    }
    
    .slide-toggle-enter-from,
    .slide-toggle-leave-to {
        max-height: 0;
        overflow:hidden;
        opacity: 0;
    }
    
    .slide-toggle-enter-to,
    .slide-toggle-leave-from {
        opacity: 1;
        max-height: 1000px;
    }
}