@import url("https://cloud.typography.com/6993774/6173032/css/fonts.css");
$SCALE_FACTOR: 1.25;
$BASE_FONT_SIZE: 11px;
// TODO: use math.pow

* {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // TODO: optimize for legibility
}

@mixin plain-l-medium {
    font-weight: 500;
    font-size: ceil(1.5 * $SCALE_FACTOR * $BASE_FONT_SIZE);
}

@mixin plain-m-bold {
    font-weight: 700;
    font-size: ceil($BASE_FONT_SIZE * $SCALE_FACTOR);
    letter-spacing: 0.015em;
    line-height: 150%;
}

@mixin plain-m-book {
    font-weight: 400;
    font-size: ceil($BASE_FONT_SIZE * $SCALE_FACTOR);
    letter-spacing: 0.005em;
    line-height: 150%;
}

@mixin plain-s-bold {
    font-weight: 700;
    font-size: $BASE_FONT_SIZE;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@mixin plain-s-book {
    font-weight: 400;
    font-size: $BASE_FONT_SIZE;
    // @Jen Niemals aus einem mixin was entfernen, außer du hast es bei den anderen Sachen geprüft, falls ich das nämlich verwendet habe, ist es bei mir auf einmal anders, ohne dass ich es wusste... 
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 150%;
}

h1, .plain-l-medium {
    @include plain-l-medium;
}

.plain-m-bold {
    @include plain-m-bold;
}

p, .plain-m-book {
    @include plain-m-book;
}

.plain-s-bold {
    @include plain-s-bold;
}

.plain-s-book {
    @include plain-s-book;
}
  